- page_title _('Start a Free Gold Trial')

%h3.center.pt-6
  = _('Almost there')

%p.center
  = _('You can apply your Trial to your Personal account or create a New Group.')

= render 'errors'

= form_tag apply_trials_path(glm_params), method: :post do
  .form-group.gl-select2-html5-required-fix
    = label_tag :namespace_id, _('This subscription is for'), for: :namespace_id, class: 'col-form-label'
    = select_tag :namespace_id, namespace_options_for_select(params[:namespace_id]), class: 'select2', required: true
  #group_name.form-group.hidden
    = label_tag :new_group_name, _('New Group Name'), for: :new_group_name, class: 'col-form-label'
    = text_field_tag :new_group_name, nil, class: 'form-control'
  - if should_ask_company_question?
    .form-group
      = label_tag :trial_entity, _('Is this GitLab trial for your company?')
      .gl-form-checkbox-group
        .gl-form-checkbox.form-check.form-check-inline
          = radio_button_tag :trial_entity, :company, params[:trial_entity]=='company', required: true, class: 'form-check-input'
          = label_tag :trial_entity_company, _('Yes'), class: 'form-check-label'
        .gl-form-checkbox.form-check.form-check-inline
          = radio_button_tag :trial_entity, :individual, params[:trial_entity]=='individual', required: true, class: 'form-check-input'
          = label_tag :trial_entity_individual, _('No'), class: 'form-check-label'
  = submit_tag _('Start your free trial'), class: 'btn btn-success btn-block'

= render 'skip_trial'
